<input type="text" [(ngModel)]="title"> {{ title }}

<div *ngIf="title == 'Erik'">
    esto es un div
</div>

<button (click)="addItem()">Agregar item</button>

<ul>
    <li *ngIf="nombres.length === 0 ">
        La lista esta vacia
    </li>
    <li *ngFor="let nombre of nombres; index as i">
        {{nombre}}
        <button (click)="deleteItem(i)">Borrar item</button>
    </li>
</ul>


<div class="product-grid">
    <app-product *ngFor="let product of products; index as i" (productClicked)="clickProduct($event)" [product]="product"></app-product>
</div>